* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(23, 21, 21);
}

.button {
    position: fixed;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 20;
}

.button .button-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

.menu {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    transition: 0.3s;
    transform: translateX(-100%);
}

.menu ul {
    list-style: none;
    padding: 60px;
}

.menu ul li {

}

.menu ul li a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    color: grey;
}

.show {
    transform: translateX(0);
}