* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(16, 30, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 350px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 15px black;
}

.container h1 {
    text-align: center;
}

.container .container-btn {
    width: 30px;
    height: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: background-color 1s, transform 0.1s;
}

.container .container-btn .btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    transform: rotate(180deg);
}

.container .container-btn .btn:active {
    transform: rotate(180deg);
}

.container .container-btn:hover {
    background-color: rgb(39, 39, 48);
    transform: scale(1.1);
}

.menu {
    width: 350px;
    height: 0px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
    transition: 1s;
    border: 4px solid white;
}

.menu:hover {
    background-color: rgb(39, 39, 48);
}

.menu ul {
    list-style: none;
}

.menu ul li {
    color: white;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.menu ul li:hover {
    color: black;
}

.show {
    height: 200px;
}

.rotate {
    transform: rotate(180deg);
}